.total {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.total_form{
    justify-self: center;
}

.star{
    justify-self: center;
}

p{
    font-size: 0.8rem;
}

.comment {
    justify-self: center;
    width: 75%;
    height: 30%;
}

.input_area {
    font-size: 1.3rem;
    height: 5em;
}

.btn_gui {
    width: 30%;
    justify-self: center;
    height: 120%;
    font-size: 1.0rem;
}