/* .container{
    height: 100%;
} */

.row-1{
    display: flex;
    /* margin-top: 10px; */
}

.row-1 h4{
    flex: 1;
}

.row-2{
    flex: 1;
}

.btn-updateInfo {
    border-radius: 10px;
    background-color: #3578E5;
    width: 10%;
    font-size: 80%;
    margin-right: 20px;
}

.btn-huy{
    border-radius: 10px;
    background-color: #e90c1e;
    width: 10%;
    font-size: 80%;
    margin-right: 20px;
}

.col-1{
    width: 50%;
}

.input-mt{
    margin-top: 10%;
}

.in-mt{
    margin-top: 5%;
}

.container-avatar{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar{
    height: 150px;
    width: 150px;
}

.btn-upload{
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: -10px;
    right: 180px;
    content: none;
}

.text-infomation label{
    color: rgb(116, 111, 111);
    margin-bottom: 10px;
}

.text-infomation p{
    margin-left: 10px;
    text-wrap: wrap;
}