.header {
  background-color: transparent;
  background-image: linear-gradient(90deg, #cb6a6a 0%, #c825c3 100%);

}

.header a {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.header a:hover {
  color: #F7FF58; /* Màu vàng nhạt */
}

.header a:focus {
  color: #F7FF58; /* Màu vàng nhạt */
}

.header .thea div a {
  margin-left: 10px;
}

.header .dropdown {
  color: white;
}

.header .dropdown div {
  background-color: transparent;
  background-image: linear-gradient(90deg, #FFD166 0%, #3B4257 100%);
}

.header .dropdown div a:hover {
  background-color: transparent;
  background-image: linear-gradient(90deg, #06D6A0 0%, #3B4257 100%);
}

.offcanvas {
  background-color: transparent;
  background-image: linear-gradient(90deg, #F76C6C 0%, #FFDD78 100%);
  color: #fff;
}

.offcanvas a:hover {
  cursor: pointer;
  color: #FFDD78; /* Màu vàng nhạt */
}
