.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Màu nền trắng */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Màu chữ */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Màu chữ */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Màu nền input */
  color: #333; /* Màu chữ */
}

.form-group input.error-input {
  border-color: red;
  background-color: #fdd;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Khoảng cách giữa các nút */
}

button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Màu nền nút */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Màu nền nút khi hover */
}

button[type="reset"] {
  background-color: #f44336; /* Màu nền nút reset */
}

button[type="reset"]:hover {
  background-color: #e53935; /* Màu nền nút reset khi hover */
}

button[type="submit"] {
  background-color: #45a049; /* Màu nền nút reset */
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}
