.style_for{
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  font-size: 1.1rem;
  height: 110vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  line-height: 200%;
}

.style_for ul {
  cursor: pointer;
}

.style_for li {
  display: none;
  padding-left: 20px;
  color: black;
}

.style_for ul.active {
  color: yellowgreen;
}

.style_for ul:hover {
  color: red;
}

.style_for ul.active li {
  display: block;
}

.style_for ul li:hover{
  color: rebeccapurple;
}