.star-rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 1rem;
  color: grey;
  cursor: pointer;
  transition: color 0.2s;
}

.star.on {
  color: gold;
}

.star.off {
  color: grey;
}

input[type="radio"] {
  display: none;
}
